[graph]
targets = ["aarch64-apple-darwin"]
all-features = true
no-default-features = false

[output]
feature-depth = 1

[advisories]
ignore = []

[licenses]
allow = ["BSD-2-Clause", "BSD-3-Clause", "ISC", "MIT", "Apache-2.0", "Unicode-3.0", "Zlib"]
exceptions = []

[bans]
multiple-versions = "warn"
wildcards = "deny"
highlight = "simplest-path"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []
deny = []
skip = [
  # Duplicated from validation crate
  "darling:<0.23",
  "darling_core:<0.23",
  "darling_macro:<0.23",
  "hashbrown:<0.16",
]
skip-tree = ["rustix"]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
gitlab = []
bitbucket = []
